extends layout

block content
    .row
        form.form-inline
            .form-group
                label(class='sr-only', for='js-wildPoke') Wild Pokemon
                input(type='text', class='form-control', id='js-wildPoke', placeholder='Wild Pokemon')
            .form-group
                label(class='sr-only', for='js-hpRemaining') HP remaining
                input(type='number', class='form-control', id='js-hpRemaining', placeholder='% HP remaining')
            button(type='submit', class=['btn', 'btn-default']) Go

block scripts
    script.
        var data = !{JSON.stringify(pokelist)}
    script(src='javascripts/pokeballs-calc.js')
