extends layout

block content
    .row
        .col-md-4
            form(class='form', method='post')
                +panel('Target Pokemon', 'primary')              
                    .form-group
                        label(for='js-wildPoke') Wild Pokemon
                        input(type='text', class='form-control input-typeahead', id='js-wildPoke', name='wildPoke', placeholder='Begin typing a Pokemon' required)
                    .form-group
                        label(for='js-hpRemaining') % HP remaining
                        input(type='number', class='form-control', id='js-hpRemaining', name='hpRemaining', min=1, max=100, value=100)
                    .form-group
                        label(for='js-status') Status ailment
                        select(class='form-control', id='js-status', name='status')
                            each val in ailments
                                option= val
                +panel('Optional Settings', 'primary')
                    .form-group
                        label(for='js-wildLevel') Wild Pokemon level
                        input(type='number', class='form-control', id='js-wildLevel', name='wildLevel', min=1, max=100)
                    .form-group
                        label(for='js-yourLevel') Your Pokemon level
                        input(type='number', class='form-control', id='js-yourLevel', name='yourLevel', min=1, max=100)
                    .form-group
                        label(for='js-battleTurn') Battle turn
                        input(type='number', class='form-control', id='js-battleTurn', name='battleTurn', min=1, value=1)
                    .form-group
                        label(for='js-terrain') Terrain:
                        select(class='form-control', id='js-terrain', name='terrain')
                            option(value='land') On land
                            option(value='surfing') Surfing
                            option(value='fishing') Fishing
                    +checkbox('Wild Pokemon and your Pokemon are the same species and opposite genders', 'oppSex')
                    +checkbox('You have caught the wild Pokemon previously', 'inDex')
                    +checkbox('Nighttime or walking in a cave', 'nightOrCave')
                button(type='submit', class=['btn', 'btn-default']) Go
        .col-md-8
            +panel('Results', 'primary', 'results-panel')
                table(class='table', id='results-container')
                    thead
                        tr
                            th Ball
                            th(colspan='2') Capture chance
                            th Average tries
                            th Notes

block scripts
    script.
        var data = !{JSON.stringify(pokelist)}
    script(src='javascripts/pokeballs-calc2.js')
    script(src='javascripts/pokemon-typeahead.js')
