body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
	margin-bottom: 0;
}
.tt-hint {
	display: block;
	width: 100%;
	height: 39px;
	font-size: 15px;
	line-height: 1.42857143;
	color: #999;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	/*border-radius: 4px;*/
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-menu {
	min-width: 160px;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;

}
.tt-suggestion {
	display: block;
	padding: 3px 20px;
    color: #333;
}
.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
	color: #fff;
	background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
}
.tt-suggestion p {
	margin: 0;
}

.js-dynamic-hp-bar {
    display: inline-block;
    position: relative;
    height: 16px;
    width: 134px;
    margin-top: 5px;
    background: url(/images/gen4hpbar.gif) center left no-repeat;
}

.js-dynamic-hp-inner-bar {
    display: block;
    position: absolute;
    top: 5px;
    left: 33px;
    height: 6px;
    background-color: #18C020;
    border-top: 2px solid #009000;
}

.js-dynamic-hp-inner-bar.high_hp {
    background-color: #18C020;
    border-top: 2px solid #009000;
}

.js-dynamic-hp-inner-bar.medium_hp {
    background-color: #D7AC00;
    border-top: 2px solid #BF7C00;
}

.js-dynamic-hp-inner-bar.low_hp {
    background-color:#BE2821;
    border-top: 2px solid #A60801;
}

.js-capture-rate-graph {
    display: inline-block;
    position: relative;
    width: 10em;
    height: 1.3em;
    background: #79cc66;
}

.table>tbody>tr>th {
    vertical-align: middle;
}

.table>tbody>tr>td {
    border: 0;
    padding: 2px;
    vertical-align: middle;
}

tbody:hover {
    background-color: #f5f5f5;
}

.js-capture-rate-graph-bar {
    float: left;
    height: 100%;
}

.shake0 {
    background: #cc6666;
}

.shake1 {
    background: #d88c8c;
}

.shake2 {
    background: #e5b2b2;
}

.shake3 {
    background: #f2d9d9;
}

td.chance {
    text-align: right;
}

td.expected-attempts {
    text-align: right;
    padding-right: 1em !important;
}

td.condition {
    font-size: 0.8em;
    font-style: italic;
}

tr.inactive .js-capture-rate-graph{
    opacity: 0.25;
}

tr.inactive td {
    color: #909090;
}
